[submodule "vonenet"]
	path = vonenet
	url = https://github.com/ahmedshah1494/vonenet.git
[submodule "DeepGaze"]
	path = DeepGaze
	url = https://github.com/matthias-k/DeepGaze.git
[submodule "retinawarp"]
	path = retinawarp
	url = https://github.com/ahmedshah1494/retinawarp.git
[submodule "mllib"]
	path = mllib
	url = https://github.com/ahmedshah1494/mllib.git
	branch = release-v1.0
