[submodule "vonenet"]
	path = vonenet
	url = https://github.com/dicarlolab/vonenet.git
[submodule "DeepGaze"]
	path = DeepGaze
	url = https://github.com/matthias-k/DeepGaze.git
[submodule "retinawarp"]
	path = retinawarp
	url = https://github.com/ahmedshah1494/retinawarp.git
